<div class="post row m-2 mb-4 pb-3 animated fadeIn">
  <div class="col">
    <div class="row">
      <div class="col text-center pt-3 mb-2 pb-2 border-bottom">
        <span class="post-title">{{ title }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center my-2">
        <span class="font-weight-bold">Uploaded:</span> {{ description }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% if video_data %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ video_data["src"] }}" allow="{{ video_data["allow"] }}" {{ video_data["attrs"] }}></iframe>
        </div>
        {% else %}
        <a data-fancybox data-fancybox data-caption="{{ description }} - {{ title }}" href="{{ image_url }}">
          <img class="img-fluid mx-auto d-block" id="post-image-img" src="{{ image_url }}">
        </a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center my-2 pb-2 border-bottom">
        {{ credit | safe }}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-default border" href="{{ archive_url }}" target="_blank">
          <i class="fa fa-fw fa-landmark" aria-hidden="true"></i>
          Original
        </a>
      </div>
      <div class="col-6">
        <button class="btn btn-default border" type="button" data-toggle="collapse" data-target="#explanation{{ description }}" aria-expanded="false" aria-controls="explanation{{ description }}">
          <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
          Explanation
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="collapse border p-3 mt-3" id="explanation{{ description }}">
          <span class="font-weight-bold">Explanation:</span> {{ explanation | safe }}
        </div>
      </div>
    </div>
  </div>
</div>
